server:
  port: 8081

spring:
  application:
    name: check-in-service

  datasource:
    url: ${POSTGRES.DB.URL}
    driver-class-name: org.postgresql.Driver
    username: ${POSTGRES.USER}
    password: ${POSTGRES.PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${JAVA.MAIL.SENDER.EMAIL}
    password: ${JAVA.MAIL.SENDER.APP.PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  shift:
    max-duration: 10